<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= link_to "#{ post.title }", post_path(post) %></h2>

    <% if post.reviews.any? %>
      <ul>
        <% post.reviews.each do |review| %>
          <li><%= review.comments %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_user == post.user %>
      <%= link_to "Edit #{ post.title }", edit_post_path(post) %>
      <%= link_to "Delete #{ post.title }", post_path(post), method: :delete %>
    <% end %>

    <%= link_to "Comment #{ post.title }", new_post_review_path(post) %>
  <% end %>
<% else %>
  No posts yet
<% end %>


<a href='/posts/new'>Add a post</a>
