<% if @posts.any? %>
  <% @posts.each do |post| %>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag post.image.url(:thumb) %>
          <div class="caption">
            <h3><%= link_to "#{ post.title }", post_path(post) %></h3>
            <p><%= post.description %></p>
            <%= link_to "Like #{ post.title }", post_likes_path(post), class: 'likes-link btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>

    <% if post.reviews.any? %>
      <ul>
        <% post.reviews.each do |review| %>
          <li><%= review.comments %></li>
        <% end %>
      </ul>
    <% end %>

    <span class="likes_count"><%= post.likes.count %></span> Likes

    <% if current_user == post.user %>
      <%= link_to "Edit #{ post.title }", edit_post_path(post) %>
      <%= link_to "Delete #{ post.title }", post_path(post), method: :delete %>
    <% end %>

    <%= link_to "Comment #{ post.title }", new_post_review_path(post) %>
  <% end %>
<% else %>
  No posts yet
<% end %>


<a href='/posts/new'>Add a post</a>
