<p><%= @post.title  %></p>
<p><%= @post.description %></p>

<% if @post.reviews.any? %>
  <ul>
    <% @post.reviews.each do |review| %>
      <li><%= review.comments %>, <%= review.rating %></li>
      <!-- <% if current_user == review.user %>
        <%= link_to "Delete comment" %>
      <% end %> -->
    <% end %>
  </ul>
<% end %>
